asgiref==3.6.0
Django==4.2
django-phonenumber-field==7.3.0
phonenumbers==8.13.33
Pillow==9.5.0
sqlparse==0.4.4
stack-data==0.6.3
tensorboard==2.15.1
tensorboard-data-server==0.7.2
tensorflow==2.15.0.post1
tensorflow-estimator==2.15.0
tensorflow-io-gcs-filesystem==0.35.0
opencv-python
django-ckeditor