{% extends 'base.html' %}
{% load static %}

{% block title %}Consultation{% endblock title %}

{% block content %}
    <h1>Create Consultation</h1>
   <div>
        <form action="" method="POST">
            {% csrf_token %}

            {{ form.as_p }}
            
            <button type="button" id="savedata">Send request</button>
        </form>
        
   </div>

{% endblock content %}

{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script type="text/javascript">

    $('#savedata').click(function(){


        let tit = $('#titleid').val();
        let des = $('#descriptionid').val();
        let doc = $('#doctors').val();
       

        if (tit == ""){
            alert("Title is required");
        }
        else if (des == ""){
            alert("Description is required");
        }
        else if (doc  == ""){
            alert("Doctor is required");
        }
        else{
            mydata = {title:tit ,  description:des, doctor:doc}
            $.ajax({
                url: '/ajax/create/consultation/',
                type: 'POST',
                data: mydata,
                success: function(response) {
                    console.log(response.message);
                    window.open("{% url 'myDoctors' user.id %}")
                },
                error: function(error) {
                    console.error(error);
                }
            })
        }
    });



    $("#createConsultationForm").submit(function(event) {
    event.preventDefault();
    var formData = new FormData(this); 

    $.ajax({
        url: '/ajax/create/consultation/',
        method: 'POST',
        data: formData,
        processData: false,
        contentType: false,
        success: function(response) {
          
            console.log(response.message);
        },
        error: function(error) {
       
            console.error(error);
        }
    });
});


$(document).ready(function(){
    var url = "/ajax/get/doctors/"
    function getDoctors(){
        $.ajax({
            url: url,
            type: "GET",
            dataType: "json",
            headers: {
                "Accept": "application/json"
            },
            timeout: 1000,
            success: function(response){
                var doctorsList = $("#doctors");
                doctorsList.empty();
                if (response.data.length > 0){
                    console.log(response.data);
                    $.each(response.data,  function(index, data){
                        var doctorItem = `
                        <option value='${data.doctor_id}'>
                            ${ data.doctor_fullname }  ${data.doctor_spec}
                        </option>
                        `
                        doctorsList.append(doctorItem);
                    })
                }

            }
        })
    }
    getDoctors()
  //  setInterval(getDoctors, 100000);
}); 
</script>
{% endblock script %}