{% extends 'base.html' %}
{% load static %}

{% block content %}
<h1>Image Filters</h1>

<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="image" accept="image/*">
    <br>
    <select name="filter">
        <option value="clahe">CLAHE</option>
        <option value="gaussian">Gaussian Blur</option>
        <option value="unsharp">Unsharp Mask</option>
        <option value="median">Median Blur</option>
    </select>
    <br>
    <button type="submit">Apply Filter</button>
</form>

{% if processed_image %}
    <h2>Processed Image:</h2>
    <img src="data:image/jpg;base64,{{ processed_image }}" alt="Processed Image">
{% endif %}


{% endblock content %}