{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="col-md-4">
      <label for="exampleInputEmail1" class="form-label">Username</label>
      <input type="text" class="form-control" name="uname"> 
      
    </div>
    <div class="col-md-4">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <div class="col-md-4 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

{% endblock content %}