{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1>Consultations</h1>
    <ul>
        {% for consultation in consultations %}
            <li>                
                <a href="{% url 'consultion_detail' pk=consultation.id %}">{{ consultation.title }}</a>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_consultation' %}">Create consultation</a>
{% endblock content %}


{% block script %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        
        $(document).ready(function() {
            $('.delete-consultation').click(function(event) {
                event.preventDefault();
                var url = $(this).attr('href');
                if (confirm('Are you sure you want to delete this consultation?')) {
                    $.ajax({
                        url: url,
                        type: 'POST',
                        data: {
                            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()
                        },
                        success: function(data) {
                            if (data.success) {
                                // Remove consultation from the list
                                $(event.target).closest('li').remove();
                            } else {
                                alert('Error deleting consultation');
                            }
                        },
                        error: function() {
                            alert('Error deleting consultation');
                        }
                    });
                }
            });
        });
    </script>

{% endblock script %}
