{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}

{% block content %}
    <div>
        <h1>Home page</h1>
    </div>
    

    <div>
        <h1>Posts</h1>

        <div id="filter-posts">   
            {% for post in posts %}
                <div>
                    <a href="{% url 'post_detail' post.id %}">
                        <h6>Title : {{ post.title }}</h6>
                        <p>description : {{ post.description|truncatewords:50  }}</p>
                    </a>
                    <p>Author :  <a href="{% url 'profile' post.author.username  %}"> {{ post.author.username }} </a>
                     Category : {{ post.category }}
                    </p>
                </div>
                <br>    
            {% endfor %}
        </div>
    </div>
<a href=""></a>
{% endblock content %}


{% block script %}


{% endblock script %}