{% extends 'base.html' %}
{% load static %}

{% block title %}Administrator Profile{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8">
      {% if user.is_authenticated and user.is_staff %} {# Assuming admins are staff users #}
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              {% if user.photo %}
                <img src="{{ user.photo.url }}" class="rounded-circle img-fluid" alt="Profile Picture">
              {% else %}
                <img src="{% static 'images/default-profile.png' %}" class="rounded-circle img-fluid" alt="Default Profile Picture">
              {% endif %}
            </div>
            <div class="col-md-8">
              <h2 class="card-title">{{ user.first_name }} {{ user.last_name }}</h2> 
              <p><strong>Username:</strong> {{ user.username }}</p>
              <p><strong>Email:</strong> {{ user.email }}</p> 
              <p><strong>Telegram:</strong> {{ user.administrator.telegram_username }}</p>
              {% if user.id == myuser.id %}
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                {% else %}
                <a href="{% url 'private-chat' user.id %}" class="btn btn-primary">
                  Start Private Chat
              </a>
                {% endif %}
            </div>
          </div>
        </div>
      </div>
      {% else %}
        <p class="card-text">You need to be logged in as an administrator to view this page.</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}