{% extends 'base.html' %}
{% load static %}

{% block title %}User profile{% endblock title %}

{% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-8"> 
      <div class="card mb-3">
        <div class="card-body">
          {% if user.is_authenticated %} 

            <div class="row">
              <div class="col-md-4 text-center">
                {% if user.photo %}
                  <img src="{{ myuser.photo.url }}" class="rounded-circle img-fluid" alt="Profile Picture">
                {% else %}
                  <img src="{% static 'images/default-profile.png' %}"  class="rounded-circle img-fluid" alt="Default Profile Picture"> 
                {% endif %}
              </div>
              <div class="col-md-8">
                <h2 class="card-title">Welcome, {{ myuser.username }}!</h2>
                <p><strong>Name:</strong> {{ myuser.first_name }} {{ user.last_name }}</p>
                <p><strong>Country:</strong> {{ myuser.country }}</p>
                <p><strong>State:</strong> {{ myuser.state }}</p>
                <p><strong>City:</strong> {{ myuser.city }}</p>
                <p><strong>Phone Number:</strong> {{ myuser.phone_number }}</p>
                {% if user.id == myuser.id %}
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
                {% else %}
                <a href="{% url 'private-chat' myuser.id %}" class="btn btn-primary">
                  Start Private Chat
              </a>
                {% endif %}
              </div>
            </div>
          {% else %} <div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h1 class="text-center">User Profile</h1>
        </div>
        <div class="card-body">
          <p class="card-text">Please login or register to view your profile.</p>
          <a href="{% url 'user_create' %}" class="btn btn-primary">Register</a>
          <a href="{% url 'login' %}" class="btn btn-secondary">Login</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}