{% extends 'base.html' %}
{% load static %}

{% block title %}Create new post{% endblock title %}

{% block content %}
    <div>
        <h1>Create new post</h1>
        <form action="" method="POST" id="post-form">
            {% csrf_token %}
            {{ form.media }}
            {{ form.as_p }}
            
            <button type="submit">Create</button>
        </form>
    </div>
{% endblock content %}

{% block script %}
<script type="text/javascript" src="{% static "ckeditor/ckeditor-init.js" %}"></script>
<script type="text/javascript" src="{% static "ckeditor/ckeditor/ckeditor.js" %}"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>        

<script>
    $(document).ready(function() {
        $('#post-form').submit(function(event) {
            event.preventDefault();
            var url = $(this).attr('action');
            var formData = new FormData(this);
            $.ajax({
                url: url,
                type: 'POST',
                data: formData,
                processData: false,
                contentType: false,     
                success: function(data) {
                    if (data.success) {
                        alert('Consultation saved successfully!');
                        window.location.href = "{% url 'home' %}"; 
                    } else {
                        alert('Error saving consultation');
                    }
                },
                error: function() {
                    alert('Error saving consultation');
                }
            });
        });
    });
</script>

{% endblock script %}