{% extends 'base.html' %}
{% load static %}
{% block title %}Post detail{% endblock title %}

{% block content %}

    <div>
        <div>
            <h1>{{ post.title }}</h1>
        </div>
        <div>
            <p>{{ post.description }}</p>
        </div>
            <div>
                </a> Author :  <a href="{% url 'profile' post.author.username  %}"> {{ post.author.username }} </a>
            </div>
      
            <div>
                <p> Category : {{ post.category }} </p> 
            </div>
    </div>
    

{% endblock content %}